div {
  background-color: red;
  color: white;

  margin: 10px;
  padding: 20px;
}
/* . itu select class bisa dibilang subnya div utama */
.div-1 {
  background-color: green;
}
.div-3 {
  background-color: black;
  color: white;
}

@media screen and (min-width: 800px) {
  main {
    display: flex;
  }
}
